/* ===============================
   VET BOOKR SECTION
=================================*/
.vetbookr-section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: #f3f3f3;
    overflow: hidden;
}


/* Image Side */
.vet-image-side {
    flex: 1;
    height: 100vh;
}

.vet-image-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


/* Content Side */
.vet-content-side {
    flex: 1;
    background: #fff;
    padding: 4rem;
    box-shadow: -20px 0 60px rgba(0, 0, 0, 0.08);
    z-index: 2;
}


/* Logo */
.vet-logo {
    width: 180px;
    margin-bottom: 1.5rem;
}


/* Title */
.vet-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: #111;
}


/* Description */
.vet-description h3 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #333;
}

.vet-description p {
    font-size: 0.95rem;
    line-height: 1.7;
    color: #444;
    margin-bottom: 1.2rem;
}
@media (max-width: 992px) {

    .vet-content-side {
        padding: 2.5rem;
    }

}

@media (max-width: 768px) {

    .vetbookr-section {
        flex-direction: column;
    }

    .vet-image-side {
        height: 350px;
        width: 100%;
    }

    .vet-content-side {
        width: 100%;
        box-shadow: none;
        padding: 2rem;
    }

    .vet-title {
        font-size: 1.7rem;
    }

}